
<mat-toolbar color="primary">  
    <h1> Fabric Project </h1>  
    <span class="menu-spacer"></span>
    <button mat-button routerLink="/">Home</button>  
    <button mat-button routerLink="/add">Add trade</button>
    <button mat-button routerLink="/modify">Modify trade</button>  
    <button mat-button routerLink="/delete">Delete trade</button>
    <button mat-button routerLink="/search">Search trades</button>  
    <button mat-button routerLink="/about">About</button>
</mat-toolbar>
<router-outlet></router-outlet>
